<template>
  <div
    class="c-TimelineCell"
    :style="styleObject">
    <div
      class="c-TimelineCell__handle c-TimelineCell__handle--before"
      ref="handleBefore"></div>
    <div
      class="c-TimelineCell__content"
      ref="handleCenter">
      Cell
    </div>
    <div
      class="c-TimelineCell__handle c-TimelineCell__handle--after"
      ref="handleAfter"></div>
  </div>
</template>

<script>
export default {
  name: 'TimelineCell',
  props: {
    start: {
      type: Number,
      required: true,
    },
    end: {
      type: Number,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    timelineLength: {
      type: Number,
      required: true,
    },
    timelinePrecision: {
      type: Number,
      required: true,
    },
  },
  data: () => ({
    xOffset: 0,
    handleBeforeListener: undefined,
    handleCenterListener: undefined,
    handleAfterListener: undefined,
  }),
  computed: {
    xSize() {
      return (this.end - this.start) / this.timelinePrecision;
    },
    styleObject() {
      return {
        transform: `translateX(${this.xOffset}px)`,
        width: `${this.xSize}px`,
      };
    },
  },
  watch: {
    start: {
      handler() {
        this.xOffset = this.start / this.timelinePrecision;
      },
      immediate: true,
    },
  },
  methods: {
    bindToElement(element) {
      let clientX = 0;
      let xOffset = 0;
      const pointerMove = (event) => {
        this.xOffset = xOffset + (event.clientX - clientX);
      };
      const pointerUp = () => {
        window.removeEventListener('pointermove', pointerMove, true);
        this.$emit('changed', {
          start: (this.xOffset * this.timelinePrecision),
          end: ((this.xOffset + this.xSize) * this.timelinePrecision),
          text: this.text,
        });
      };
      const pointerDown = (event) => {
        ({
          clientX,
        } = event);
        ({
          xOffset,
        } = this);
        window.addEventListener('pointermove', pointerMove, true);
        window.addEventListener('pointerup', pointerUp, true);
      };
      element.addEventListener('pointerdown', pointerDown, true);

      return () => {
        element.removeEventListener('pointerdown', pointerDown, true);
        window.removeEventListener('pointermove', pointerMove, true);
        window.removeEventListener('pointerup', pointerUp, true);
      };
    },
  },
  mounted() {
    const {
      handleBefore,
      handleCenter,
      handleAfter,
    } = this.$refs;
    this.handleBeforeListener = this.bindToElement(handleBefore);
    this.handleCenterListener = this.bindToElement(handleCenter);
    this.handleAfterListener = this.bindToElement(handleAfter);
  },
  beforeDestroy() {
    this.handleBeforeListener();
    this.handleCenterListener();
    this.handleAfterListener();
  },
};
</script>

<style lang="scss">
.c-TimelineCell {
  position: relative;
  background-color: #859EFF;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  touch-action: none;
  user-select: none;

  // Position within timeline
  & {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  &__handle {
    flex-shrink: 0;
    flex-grow: 0;
    width: 10px;
    background-color: red;
    cursor: col-resize;

    &--before {
      left: 0;
    }
    &--after {
      right: 0;
    }
  }

  &__content {
    flex-shrink: 1;
    flex-grow: 1;
    cursor: move;
    overflow: hidden;
  }
}
</style>
