<template>
  <div
    class="c-Timeline">
    <div
      class="c-Timeline__content"
      :style="contentStyleObject">
      <TimelineCell
        v-for="(cell, index) in data"
        :key="index"
        v-bind="cell"
        @changed="cellChanged(index, $event)"
        :timelineLength="length"
        :timelinePrecision="precision" />
    </div>
  </div>
</template>

<script>
import TimelineCell from './Cell.vue';

export default {
  name: 'Timeline',
  components: {
    TimelineCell,
  },
  props: {
    data: {
      type: Array,
      required: true,
    },
    // How long should the timeline be
    // A length of 60 means the timeline will span for 60 units
    length: {
      type: Number,
      required: true,
    },
    // How precise should be the timeline
    // Imagine the timeline is split into "precision" segments
    // A precision of 2 means length 60 is split into 30 segments
    precision: {
      type: Number,
      required: true,
    },
  },
  computed: {
    contentStyleObject() {
      return {
        width: `${(this.length / this.precision)}px`,
      };
    },
  },
  methods: {
    cellChanged(index, data) {
      const dataCopy = this.data.map(row => Object.assign({}, row));
      dataCopy[index] = data;
      this.$emit('changed', dataCopy);
    },
  },
};
</script>

<style lang="scss">
.c-Timeline {
  background-color: #E9EDFF;
  padding: 1rem;

  &__content {
    position: relative;
    min-height: 100px;
  }

  // Set box sizing policy
  & {
    box-sizing: border-box;

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
  }
}
</style>
