<template>
  <div id="App">
    <Timeline
      :data="timelineData"
      :length="videoLength"
      :precision="timelinePrecision"
      @changed="timelineDataChanged" />
  </div>
</template>

<script>
import Timeline from './components/Timeline/index.vue';

export default {
  name: 'App',
  components: {
    Timeline,
  },
  data: () => ({
    videoLength: 100, // Seconds
    timelinePrecision: 0.100,
    timelineData: [
      {
        start: 0,
        end: 10,
        text: 'Hello',
      },
      {
        start: 15,
        end: 22,
        text: 'How are you?',
      },
      {
        start: 25,
        end: 34,
        text: 'Good',
      },
      {
        start: 38,
        end: 49,
        text: 'How about you?',
      },
    ],
  }),
  methods: {
    timelineDataChanged(data) {
      this.timelineData = data;
      localStorage.setItem('video-timeline-data', JSON.stringify(data));
    },
  },
  mounted() {
    const videoTimelineData = localStorage.getItem('video-timeline-data');
    if (videoTimelineData) {
      this.timelineData = JSON.parse(videoTimelineData);
    }
  },
};
</script>

<style lang="scss">
:root {
  font-family: sans-serif;
}
html {
}
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
</style>
